* {
    box-sizing: border-box;
    margin: 0;
    
  }
  
  body {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
  }
  
  a {
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
  }
  
  /* ▼ WHERE YOUR CODE BEGINS */
  ul {
      list-style-type: none;
      padding: 0;
      display: flow-root;
  }
  
  .tab-menu {
      max-width: 700px;
      border-bottom: 1px solid #e5eaef;

  }
  .tab-menu::after {
      content: "";
      
  }

  .tab-menu-item {
      float: left;
      margin-right: 16px;
  }
  .tab-menu-item a{
    display: block;
    width: 150px;
    padding: 16px 20px;
}

.tab-menu-item.selected  {
    border-bottom: 2px solid #2860e1;
}
.tab-menu-item.selected a {
    color: #2860e1;
    font-weight: 500;
}