*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .parent {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 900px;
    flex-wrap: wrap;
    
    align-content: flex-start;
    background-color: gray;
    }
    
    .child {
    
    width: 200px;
    height: 200px;
    }
    
    .blue {
    background-color: blue;
    }
    
    .yellow {
    background-color: yellow;
    }
    
    .red {
    background-color: red;
    }